html, body {
    height: 100%;
    margin: 0;
}

.container {
    background-color: #006666;
    color: #e6ffff;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 5%;
}

.container button {
    color: black;
    background-color: lightblue;
    width: 5rem;
    height: 2rem;
}

.message {
    color: red;
    margin-bottom: 1%;
}

.inner-div {
    padding-top: 1%;
}